body{
    font-family: Arial, sans-serif;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100;
    margin: 2;
}

.profile
{
    width: 150px;
    text-align: center;
    border-radius: 50px;
}

.form-container{
    width: 500px;
    margin: 0 auto;
    background-color: rgb(2, 104, 7);
    padding: 5px;
    border-radius: 10px;
    border: 2px solid rgb(115, 115, 116);
}

form{
    display: flex;
    flex-direction: column;
}

h2{
    margin-bottom: 20px;
    text-align: center;
}

label{
    margin-bottom: 5px;
    font-weight: bold;
    padding-top: 10px;
}

input[type="checkbox"]{
    margin-right: 32px;
}
input[type="text"]
input[type="email"]
input[type="password"]{
    margin: 0 auto;
    width: 85%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#signup_btn
{
    width: 88%;
    background-color: rgb(38, 163, 221);
    padding: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

#back_btn
{
    margin-top: 10px;
    margin-left: 31px;
    width: 20%;
    background-color: rgb(190, 121, 31);
    padding: 5px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
